name: documentation-test

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      - name: Install dependencies
        run: |
          pip install ".[doc]" 
      - name: Set notebook execution to false (for docs testing)
        run: |
          pip install pyyaml
          python __CI_convert_notebook_execute_false_mkdocs_yaml.py mkdocs.yml
      - name: Test mkdocs build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdocs build
